.education-form {
  display: flex;
  flex-direction: column;
}

.education-heading {
  margin: 0px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.visible-container {
  display: flex;
  justify-content: space-between;
}

.rotate-icon {
  transition: transform 0.3s;
}

.rotate-icon.rotate {
  transform: rotate(180deg);
}

.dropdown {
  background-color: #fff;
  color: #000;
  border: none;
}

.dropdown:hover {
  background-color: #f1e9e9;
  cursor: pointer;
}

.education-description {
  height: 150px;
  margin: 10px 0;
  padding: 10px 10px;
  background-color: white;
  border: 1px solid #00000031;
  border-radius: 10px;
  /* box-shadow: 1px 1px 2px 1px #0000004c; */
  color: #000;
}
